/* iOS places the subtitle above the title */
ion-card-header.ios {
    display: flex;
    flex-flow: column-reverse;
  }

  ion-item {
    --padding-start: 0;
  }
  
ion-slide{
  display: block;
}

.slide-img-padding {
  padding: 40px;
}