<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title> News API</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">News API</ion-title>
    </ion-toolbar>
  </ion-header>

<ion-list>
  <ion-row *ngFor="let article of topHeadlines" >
    <ion-col size="4">
    <img src="{{article.urlToImage}}"/>
  </ion-col>
    <ion-col size="4">
      <ion-label>{{article.author}}
        <p>{{article.publishedAt | date}}</p>
        <p>{{article.title}}</p>
      </ion-label>
    </ion-col>
  </ion-row>
</ion-list>

</ion-content>